.navbar {
    background: var(--color-background-navbar);
    border-bottom: var(--border-navbar);
    height: var(--height-navbar);
    padding: 0 1rem;
}

.navbar-inner {
    box-sizing: border-box;
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin: 0 auto;
}

/* === Logo === */

.navbar-brand {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navbar-navigation-item-brand {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar-logo-text {
    color: var(--color-text-navbar-logo);
    font-family: var(--font-family-brand);
    font-size: 1.2rem;
    font-weight: var(--font-weight-brand);
}

/* TODO: rename comment header below */
/* === Navbar items right === */
.navbar-right {
    display: flex;
    align-items: stretch;
}

/* == Navigation == */

.navbar-navigation-list {
    display: flex;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-navigation-list li {
    display: flex;
    height: 100%;
}

.navbar-navigation-link {
    align-items: center;
    display: flex;
    font-size: 1rem;
    height: 100%;
    justify-content: center;
    padding: 0rem;
    max-width: var(--width-navbar-item);
    min-width: var(--width-navbar-item);
    width: var(--width-navbar-item);
}

.navbar-navigation-link a {
    align-items: center;
    color: var(--color-text-navbar-link);
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.navbar-navigation-link.is-active {
    background: var(--color-background-navbar-active);
    transition: var(--transition-background);
}

.navbar-navigation-link:hover {
    background: var(--color-background-navbar-hover);
    transition: var(--transition-background);
}

/* == Language button == */
.navbar-language {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    position: relative;
    max-width: var(--width-navbar-item);
    min-width: var(--width-navbar-item);
}