:root {
    /* === Color palette ===  */
    
    /* ==  White colors ==  */
    --steel-white-extra-bright: #FCFDFF;
    --steel-white-bright: #F7F8FA;
    --steel-white-medium: #F2F3F5;
    --steel-white-dark: #EDEEF0;
    --steel-white-extra-dark: #E8E9EB;

    /* == Black colors == */
    --steel-black-extra-light: #3C414D;
    --steel-black-light: #30343D;
    --steel-black-medium: #23272E;
    --steel-black-dark: #1B1C1F;
    --steel-black-extra-dark: #0D0E0F;

    /* == Blue colors == */
    --blue-sky: #73CCFF;
    --blue-cornflower: #7386FF;

    /* === Functional colors === */

    /* == Global background colors == */
    --color-background-primary: #F7F8FA;
    --color-background-secondary: #FCFDFF;
    --color-background-tertiary: #F2F3F5;
    --color-background-quaternary: #EDEEF0;

    /* == Global text colors == */
    --color-text-primary: #0D0E0F;
    --color-text-secondary: #3C414D;
    --color-text-tertiary: #30343D;

    /* == Global border colors == */
    --color-border-primary: #ebeae8;

    /* == Brand colors == */
    --color-brand-primary: #73CCFF;
    --color-brand-secondary: #7386FF;

    /* == Component background colors == */
    /* = Navbar background colors = */
    --color-background-navbar: var(--color-background-secondary);
    --color-background-navbar-active: var(--color-background-tertiary);
    --color-background-navbar-hover: var(--color-background-quaternary);

    --color-background-footer: var(--color-background-secondary);
    --color-background-section: var(--color-background-secondary);

    --color-background-card: var(--color-background-secondary);

    /* = Button background colors = */
    --color-background-button: var(--color-background-tertiary);
    --color-background-button-hover: var(--color-background-quaternary);
    
    --color-background-input: var(--color-background-secondary);
    --color-background-translation-button: var(--color-background-tertiary);

    /* = Language switcher background color = */
    --color-background-language-switcher: var(--color-background-button);
    --color-background-language-switcher-hover: var(--color-background-button-hover);
    --color-background-language-switcher-dropdown-option-hover: var(--color-background-button-hover);

    /* == Component text colors == */
    /* = Navbar text colors = */
    --color-text-navbar-logo: var(--color-text-primary);
    --color-text-navbar-item: var(--color-text-tertiary);
    --color-text-navbar-link: var(--color-text-navbar-item);

    /* = Footer = */
    --color-text-footer: var(--color-text-tertiary);

    /* = Buttons = */
    --color-text-button: var(--color-text-tertiary);
    
    --color-text-input: var(--color-text-primary);
    --color-text-input-icon: var(--color-text-secondary);
    --color-text-translation-button: var(--color-text-secondary);
    --color-text-card-title: var(--color-text-primary);
    --color-text-card-subtitle: var(--color-text-secondary);

    /* = Language switcher text colors = */
    --color-text-language-switcher: var(--color-text-tertiary);
    --color-text-language-switcher-dropdown: var(--color-text-tertiary);

    /* === Typography === */

    /* == Font families == */
    --font-family-primary: 'Inter', sans-serif;
    --font-family-brand: 'Montserrat', sans-serif;

    /* == Font sizes == */

    /* = Base Font Size = */
    --font-size-base: 1rem;

    /* = Logo font sizes = */
    --font-size-logo-mobile: 0.625rem;
    --font-size-logo-desktop: 2rem;

    /* = Navbar item font sizes = */
    --font-size-navbar-item-mobile: 0.5rem;
    --font-size-navbar-item-desktop: 0.75rem;

    /* = Hero font sizes = */
    --font-size-hero-title-mobile: 2.625rem;
    --font-size-hero-title-desktop: 3.5rem;
    --font-size-hero-subtitle-mobile: 1rem;
    --font-size-hero-subtitle-desktop: 1.5rem;

    /* = Section headers font sizes = */
    --font-size-section-mobile: 1rem;
    --font-size-section-desktop: 1.5rem;

    /* = Artwork font sizes = */
    --font-size-art-title-mobile: 0.625rem;
    --font-size-art-title-desktop: 1rem;
    --font-size-art-subtitle-mobile: 0.5rem;
    --font-size-art-subtitle-desktop: 0.75rem;

    /* = Footer font sizes = */
    --font-size-footer-mobile: 0.375rem;
    --font-size-footer-desktop: 0.75rem;

    /* Add more font size variables for all pages, sections or other parts of the website (visitor and admin envorinments) */

    /* == Font weight == */
    --font-weight-primary: 400;
    --font-weight-brand: 700;

    /* == Line height == */
    /* Add line heights here based on convention line-height-[usage] */

    /* === Spacing & layout === */
    /* == Height == */
    --height-navbar: 5rem;

    /* == Width == */
    --width-navbar-item: 8rem;

    /* === Borders == */
    --border-primary: 1px solid var(--color-border-primary);
    --border-navbar: var(--border-primary);
    --border-language-switcher-dropdown: var(--border-primary);
    --border-card: var(--border-primary);

    /* === Border radius === */
    --border-radius-primary: 5px;
    --border-radius-language-switcher: var(--border-radius-primary);

    /* === Filters === */
    --filter-brightness: brightness(2.5);

    /* === Transitions === */
    --transition-background: background-color 0.2s ease-in-out;
    --transition-transform: transform 0.2s ease-in-out;
    --transition-opacity: opacity 0.2s ease-in-out;
}

html,
body {
    background-color: var(--color-background-primary);
    color: var(--color-text-primary);
    font-family: var(--font-family-primary);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-primary);
    line-height: var(--line-height-medium);
    margin: 0;
    padding: 0;
}

a {
    color: var(--color-text-tertiary);
    font-size: var(--font-size-base);
    text-decoration: none;
}

button {
    background: none;
    font-family: var(--font-family-primary);
    font-size: var(--font-size-base);
}